.DS_Store
._*
.Spotlight-V100
.Trashes

*.gguf

.cache*

.idea/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
Makefile

*.o
*.a
*.so
*.so.*
*.dylib
*.out
*.exe
*.dSYM/
*.d

build/
bin/
lib/
out/

core.*
hostfile
machinefile
.ompi/
.pmix/

vgcore.*
gmon.out
perf.data

*.gcda
*.gcno
*.gcov
coverage/

*.log
*~
*.swp